<a href="https://colab.research.google.com/github/SavithaKikkeri/Python_Pandas/blob/main/Pandas_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In order to use any libraries in python , first you need to import that library into notebook

In [ ]:
import pandas as pd
#import library name
#this library is only available for this notebook

**Manually Creating the** **DataFrame**

In [ ]:
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40,45]
}
# this is a dictionary
# using DataFrame,  we will convert dict to DataFrame
pd.DataFrame(data)
# this code: go to pandas library, use dataframe function and turn data dict into dataframe

   calories  duration
0       420        50
1       380        40
2       390        45

Assign DataFrame to df

In [ ]:
df = pd.DataFrame(data)
# this code will create a df variable

**Reading CSV or Excel Files**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving student.xlsx to student.xlsx

In [ ]:
df=pd.read_excel("student.xlsx")# assigning df name to the file

In [ ]:
df #running df file

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78     NaN
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row    NaN    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27          NaN  Three    81     NaN
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

**Exploring the DataSet**

In [ ]:
# first 5 rows
df.head()
#default number of rows are 5

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female

In [ ]:
#last 5 rows
df.tail()

    id         name  class  mark  gender
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [ ]:
#last 4 rows
df.tail(4)

    id        name  class  mark  gender
31  32   Binn Rott  Seven    90  female
32  33   Kenn Rein    Six    96  female
33  34    Gain Toe  Seven    69    male
34  35  Rows Noump    Six    88  female

In [ ]:
df.count()
#number of non-null data

id        35
name      34
class     34
mark      35
gender    33
dtype: int64

Some columns have null values

In [ ]:
df.sample()

    id    name class  mark  gender
10  11  Ronald   Six    89  female

In [ ]:
df.shape

(35, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35 non-null     int64
 1   name    34 non-null     object
 2   class   34 non-null     object
 3   mark    35 non-null     int64
 4   gender  33 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

In [ ]:
df.columns

Index(['id', 'name', 'class', 'mark', 'gender'], dtype='object')

In [ ]:
df. describe()

              id       mark
count  35.000000  35.000000
mean   18.000000  74.657143
std    10.246951  16.401117
min     1.000000  18.000000
25%     9.500000  62.500000
50%    18.000000  79.000000
75%    26.500000  88.000000
max    35.000000  96.000000

In [ ]:
len(df)

35

In [ ]:
df.size

175

How to Subset and select data(slicing method)

In [ ]:
df["name"]
# return only name column

0        John Deo
1        Max Ruin
2          Arnold
3      Krish Star
4       John Mike
5       Alex John
6     My John Rob
7          Asruid
8         Tes Qry
9        Big John
10         Ronald
11          Recky
12            Kty
13           Bigy
14       Tade Row
15          Gimmy
16          Tumyu
17          Honny
18          Tinny
19         Jackly
20     Babby John
21         Reggid
22          Herod
23      Tiddy Now
24       Giff Tow
25         Crelea
26            NaN
27      Rojj Base
28    Tess Played
29      Reppy Red
30    Marry Toeey
31      Binn Rott
32      Kenn Rein
33       Gain Toe
34     Rows Noump
Name: name, dtype: object

In [ ]:
df.class
# this will return error, because class is reversed keyword.
# should write df.['class']

SyntaxError: invalid syntax (ipython-input-588363634.py, line 1)

In [ ]:
df[["name", "class"]]
# names and classes
#  first [] for slicing,dark blue
# second["name", "class"] is used for list of the column names, light blue

           name  class
0      John Deo   Four
1      Max Ruin  Three
2        Arnold  Three
3    Krish Star   Four
4     John Mike   Four
5     Alex John   Four
6   My John Rob  Fifth
7        Asruid   Five
8       Tes Qry    Six
9      Big John   Four
10       Ronald    Six
11        Recky    Six
12          Kty  Seven
13         Bigy  Seven
14     Tade Row    NaN
15        Gimmy   Four
16        Tumyu    Six
17        Honny   Five
18        Tinny   Nine
19       Jackly   Nine
20   Babby John   Four
21       Reggid  Seven
22        Herod  Eight
23    Tiddy Now  Seven
24     Giff Tow  Seven
25       Crelea  Seven
26          NaN  Three
27    Rojj Base  Seven
28  Tess Played  Seven
29    Reppy Red    Six
30  Marry Toeey   Four
31    Binn Rott  Seven
32    Kenn Rein    Six
33     Gain Toe  Seven
34   Rows Noump    Six

In [ ]:
df[["name", "class", "gender"]].head()
#head method is applied to selected dataframe/df

         name  class  gender
0    John Deo   Four  female
1    Max Ruin  Three    male
2      Arnold  Three    male
3  Krish Star   Four  female
4   John Mike   Four  female

In [ ]:
df[["id", "mark"]].sample(3)

    id  mark
23  24    78
26  27    81
30  31    88

In [ ]:
df.name,id
# worked , but professional method is to use []

(0        John Deo
 1        Max Ruin
 2          Arnold
 3      Krish Star
 4       John Mike
 5       Alex John
 6     My John Rob
 7          Asruid
 8         Tes Qry
 9        Big John
 10         Ronald
 11          Recky
 12            Kty
 13           Bigy
 14       Tade Row
 15          Gimmy
 16          Tumyu
 17          Honny
 18          Tinny
 19         Jackly
 20     Babby John
 21         Reggid
 22          Herod
 23      Tiddy Now
 24       Giff Tow
 25         Crelea
 26            NaN
 27      Rojj Base
 28    Tess Played
 29      Reppy Red
 30    Marry Toeey
 31      Binn Rott
 32      Kenn Rein
 33       Gain Toe
 34     Rows Noump
 Name: name, dtype: object,
 <function id(obj, /)>)

In [ ]:
# select mark column and applied mean
df["mark"].mean()

np.float64(74.65714285714286)

df.loc[rows, columns name(s)]
df.iloc[rows, column index(es)]

In [ ]:
#df.loc[rows, columns name(s)]
#df.iloc[rows, column index(es)]
df.loc[0:4, ["name","class"]]

         name  class
0    John Deo   Four
1    Max Ruin  Three
2      Arnold  Three
3  Krish Star   Four
4   John Mike   Four

In [ ]:
df.loc[:, "name"]
# return all rows
# dont write start and end of the range :

0        John Deo
1        Max Ruin
2          Arnold
3      Krish Star
4       John Mike
5       Alex John
6     My John Rob
7          Asruid
8         Tes Qry
9        Big John
10         Ronald
11          Recky
12            Kty
13           Bigy
14       Tade Row
15          Gimmy
16          Tumyu
17          Honny
18          Tinny
19         Jackly
20     Babby John
21         Reggid
22          Herod
23      Tiddy Now
24       Giff Tow
25         Crelea
26            NaN
27      Rojj Base
28    Tess Played
29      Reppy Red
30    Marry Toeey
31      Binn Rott
32      Kenn Rein
33       Gain Toe
34     Rows Noump
Name: name, dtype: object

In [ ]:
df.loc[:10, "name"]
# return up to index 10
# dont write start and end of the range :

0        John Deo
1        Max Ruin
2          Arnold
3      Krish Star
4       John Mike
5       Alex John
6     My John Rob
7          Asruid
8         Tes Qry
9        Big John
10         Ronald
Name: name, dtype: object

In [ ]:
df.loc[10:, "name"]
# return from index 10
# dont write start and end of the range:

10         Ronald
11          Recky
12            Kty
13           Bigy
14       Tade Row
15          Gimmy
16          Tumyu
17          Honny
18          Tinny
19         Jackly
20     Babby John
21         Reggid
22          Herod
23      Tiddy Now
24       Giff Tow
25         Crelea
26            NaN
27      Rojj Base
28    Tess Played
29      Reppy Red
30    Marry Toeey
31      Binn Rott
32      Kenn Rein
33       Gain Toe
34     Rows Noump
Name: name, dtype: object

In [ ]:
df.loc[10:, ["name", "id"]]
# return from index 10
# dont write start and end of the range :

           name  id
10       Ronald  11
11        Recky  12
12          Kty  13
13         Bigy  14
14     Tade Row  15
15        Gimmy  16
16        Tumyu  17
17        Honny  18
18        Tinny  19
19       Jackly  20
20   Babby John  21
21       Reggid  22
22        Herod  23
23    Tiddy Now  24
24     Giff Tow  25
25       Crelea  26
26          NaN  27
27    Rojj Base  28
28  Tess Played  29
29    Reppy Red  30
30  Marry Toeey  31
31    Binn Rott  32
32    Kenn Rein  33
33     Gain Toe  34
34   Rows Noump  35

In [ ]:
df.iloc[:, 1]
#1 is index for name column

0        John Deo
1        Max Ruin
2          Arnold
3      Krish Star
4       John Mike
5       Alex John
6     My John Rob
7          Asruid
8         Tes Qry
9        Big John
10         Ronald
11          Recky
12            Kty
13           Bigy
14       Tade Row
15          Gimmy
16          Tumyu
17          Honny
18          Tinny
19         Jackly
20     Babby John
21         Reggid
22          Herod
23      Tiddy Now
24       Giff Tow
25         Crelea
26            NaN
27      Rojj Base
28    Tess Played
29      Reppy Red
30    Marry Toeey
31      Binn Rott
32      Kenn Rein
33       Gain Toe
34     Rows Noump
Name: name, dtype: object

In [ ]:
df.iloc[:, [1,2]]
#1 is index for name column

           name  class
0      John Deo   Four
1      Max Ruin  Three
2        Arnold  Three
3    Krish Star   Four
4     John Mike   Four
5     Alex John   Four
6   My John Rob  Fifth
7        Asruid   Five
8       Tes Qry    Six
9      Big John   Four
10       Ronald    Six
11        Recky    Six
12          Kty  Seven
13         Bigy  Seven
14     Tade Row    NaN
15        Gimmy   Four
16        Tumyu    Six
17        Honny   Five
18        Tinny   Nine
19       Jackly   Nine
20   Babby John   Four
21       Reggid  Seven
22        Herod  Eight
23    Tiddy Now  Seven
24     Giff Tow  Seven
25       Crelea  Seven
26          NaN  Three
27    Rojj Base  Seven
28  Tess Played  Seven
29    Reppy Red    Six
30  Marry Toeey   Four
31    Binn Rott  Seven
32    Kenn Rein    Six
33     Gain Toe  Seven
34   Rows Noump    Six

In [ ]:
# df.loc[0:4, ["name","class"]] first 5 rows
# in loc, stopping range is included in the output

df.iloc[0:5, [1,2]]
# in iloc, stopping range is excluded in the output

         name  class
0    John Deo   Four
1    Max Ruin  Three
2      Arnold  Three
3  Krish Star   Four
4   John Mike   Four

In [ ]:
df.iloc[0:5, 0:2]
# 5 rows and 2 column

   id        name
0   1    John Deo
1   2    Max Ruin
2   3      Arnold
3   4  Krish Star
4   5   John Mike

**Filtering**

In [ ]:
df[df["mark"]>90]

    id       name class  mark  gender
11  12      Recky   Six    94  female
32  33  Kenn Rein   Six    96  female

In [ ]:
df["mark"]>90
#returns true or false

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32     True
33    False
34    False
Name: mark, dtype: bool

In [ ]:
df[df["class"]=="Six"]

    id        name class  mark  gender
8    9     Tes Qry   Six    78     NaN
10  11      Ronald   Six    89  female
11  12       Recky   Six    94  female
16  17       Tumyu   Six    54    male
29  30   Reppy Red   Six    79  female
32  33   Kenn Rein   Six    96  female
34  35  Rows Noump   Six    88  female

In [ ]:
df[(df["class"]=="Six") & (df["gender"]=="male")]

    id   name class  mark gender
16  17  Tumyu   Six    54   male

In [ ]:
df[(df["gender"]=="female") & (df["mark"]>=85)]

    id        name  class  mark  gender
10  11      Ronald    Six    89  female
11  12       Recky    Six    94  female
12  13         Kty  Seven    88  female
13  14        Bigy  Seven    88  female
27  28   Rojj Base  Seven    86  female
31  32   Binn Rott  Seven    90  female
32  33   Kenn Rein    Six    96  female
34  35  Rows Noump    Six    88  female

In [ ]:
df[(df["gender"]=="female") | (df["mark"]>=85)]
## | this is called pipe, used for or function

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
7    8       Asruid   Five    85    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row    NaN    88    male
15  16        Gimmy   Four    88    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
24  25     Giff Tow  Seven    88    male
27  28    Rojj Base  Seven    86  female
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
34  35   Rows Noump    Six    88  female

In [ ]:
df.loc[df["id"]<5, : ]

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female

In [ ]:
df.loc[df["gender"]=="male", ["name","class"]]

           name  class
1      Max Ruin  Three
2        Arnold  Three
5     Alex John   Four
6   My John Rob  Fifth
7        Asruid   Five
14     Tade Row    NaN
15        Gimmy   Four
16        Tumyu    Six
17        Honny   Five
18        Tinny   Nine
22        Herod  Eight
23    Tiddy Now  Seven
24     Giff Tow  Seven
25       Crelea  Seven
28  Tess Played  Seven
30  Marry Toeey   Four
33     Gain Toe  Seven

In [ ]:
df.iloc[df["gender"]=df["male", 1]]
# iloc cant be used to filter

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (ipython-input-3081574410.py, line 1)

In [ ]:
df['mark'].mean()

np.float64(74.65714285714286)

In [ ]:
df[["gender","mark"]].mean()

TypeError: can only concatenate str (not "int") to str

In [ ]:

df['mark'].max()
df['mark'].min()

18

In [ ]:
df[df["class"]=="five"].mean()

id        NaN
name      NaN
class     NaN
mark      NaN
gender    NaN
dtype: object

In [ ]:
df.loc[df["gender"]=="male", ["name","class"]]

NameError: name 'where' is not defined

In [ ]:
df.groupby("gender")["mark"].mean()

gender
female    77.312500
male      71.588235
Name: mark, dtype: float64

Sort

In [ ]:
df.sort_values(by="mark")
#sort values by mark

    id         name  class  mark  gender
18  19        Tinny   Nine    18    male
16  17        Tumyu    Six    54    male
2    3       Arnold  Three    55    male
5    6    Alex John   Four    55    male
28  29  Tess Played  Seven    55    male
21  22       Reggid  Seven    55  female
9   10     Big John   Four    55  female
4    5    John Mike   Four    60  female
3    4   Krish Star   Four    60  female
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
33  34     Gain Toe  Seven    69    male
0    1     John Deo   Four    75  female
17  18        Honny   Five    75    male
8    9      Tes Qry    Six    78     NaN
23  24    Tiddy Now  Seven    78    male
6    7  My John Rob  Fifth    78    male
22  23        Herod  Eight    79    male
29  30    Reppy Red    Six    79  female
25  26       Crelea  Seven    79    male
26  27          NaN  Three    81     NaN
1    2     Max Ruin  Three    85    male
7    8       Asruid   Five    85    male
27  28    Rojj Base  Seven    86  female
12  13          Kty  Seven    88  female
24  25     Giff Tow  Seven    88    male
15  16        Gimmy   Four    88    male
14  15     Tade Row    NaN    88    male
30  31  Marry Toeey   Four    88    male
13  14         Bigy  Seven    88  female
34  35   Rows Noump    Six    88  female
10  11       Ronald    Six    89  female
31  32    Binn Rott  Seven    90  female
11  12        Recky    Six    94  female
32  33    Kenn Rein    Six    96  female

In [ ]:
df.sort_values(by="mark", ascending=False)
#sort values by mark desc order

    id         name  class  mark  gender
32  33    Kenn Rein    Six    96  female
11  12        Recky    Six    94  female
31  32    Binn Rott  Seven    90  female
10  11       Ronald    Six    89  female
30  31  Marry Toeey   Four    88    male
34  35   Rows Noump    Six    88  female
24  25     Giff Tow  Seven    88    male
14  15     Tade Row    NaN    88    male
15  16        Gimmy   Four    88    male
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
27  28    Rojj Base  Seven    86  female
7    8       Asruid   Five    85    male
1    2     Max Ruin  Three    85    male
26  27          NaN  Three    81     NaN
29  30    Reppy Red    Six    79  female
25  26       Crelea  Seven    79    male
22  23        Herod  Eight    79    male
6    7  My John Rob  Fifth    78    male
23  24    Tiddy Now  Seven    78    male
8    9      Tes Qry    Six    78     NaN
17  18        Honny   Five    75    male
0    1     John Deo   Four    75  female
33  34     Gain Toe  Seven    69    male
20  21   Babby John   Four    69  female
19  20       Jackly   Nine    65  female
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
2    3       Arnold  Three    55    male
5    6    Alex John   Four    55    male
9   10     Big John   Four    55  female
21  22       Reggid  Seven    55  female
28  29  Tess Played  Seven    55    male
16  17        Tumyu    Six    54    male
18  19        Tinny   Nine    18    male

In [ ]:
df[["name", "class", "mark"]].sort_values(by="class")

           name  class  mark
22        Herod  Eight    79
6   My John Rob  Fifth    78
17        Honny   Five    75
7        Asruid   Five    85
30  Marry Toeey   Four    88
20   Babby John   Four    69
15        Gimmy   Four    88
9      Big John   Four    55
0      John Deo   Four    75
5     Alex John   Four    55
3    Krish Star   Four    60
4     John Mike   Four    60
19       Jackly   Nine    65
18        Tinny   Nine    18
12          Kty  Seven    88
33     Gain Toe  Seven    69
25       Crelea  Seven    79
31    Binn Rott  Seven    90
21       Reggid  Seven    55
28  Tess Played  Seven    55
23    Tiddy Now  Seven    78
24     Giff Tow  Seven    88
13         Bigy  Seven    88
27    Rojj Base  Seven    86
29    Reppy Red    Six    79
32    Kenn Rein    Six    96
34   Rows Noump    Six    88
8       Tes Qry    Six    78
16        Tumyu    Six    54
11        Recky    Six    94
10       Ronald    Six    89
1      Max Ruin  Three    85
26          NaN  Three    81
2        Arnold  Three    55
14     Tade Row    NaN    88

In [ ]:
df.groupby("gender")["mark"].agg("mean", "min", "max")

gender
female    77.312500
male      71.588235
Name: mark, dtype: float64

In [ ]:
df.loc[df["mark"]>50, :].sort_values(by="mark")

    id         name  class  mark  gender
16  17        Tumyu    Six    54    male
2    3       Arnold  Three    55    male
9   10     Big John   Four    55  female
5    6    Alex John   Four    55    male
21  22       Reggid  Seven    55  female
28  29  Tess Played  Seven    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
33  34     Gain Toe  Seven    69    male
17  18        Honny   Five    75    male
0    1     John Deo   Four    75  female
8    9      Tes Qry    Six    78     NaN
6    7  My John Rob  Fifth    78    male
23  24    Tiddy Now  Seven    78    male
29  30    Reppy Red    Six    79  female
25  26       Crelea  Seven    79    male
22  23        Herod  Eight    79    male
26  27          NaN  Three    81     NaN
1    2     Max Ruin  Three    85    male
7    8       Asruid   Five    85    male
27  28    Rojj Base  Seven    86  female
12  13          Kty  Seven    88  female
24  25     Giff Tow  Seven    88    male
30  31  Marry Toeey   Four    88    male
15  16        Gimmy   Four    88    male
14  15     Tade Row    NaN    88    male
34  35   Rows Noump    Six    88  female
13  14         Bigy  Seven    88  female
10  11       Ronald    Six    89  female
31  32    Binn Rott  Seven    90  female
11  12        Recky    Six    94  female
32  33    Kenn Rein    Six    96  female

In [ ]:
# How many male and female students are there?
df["gender"].value_counts()

gender
male      17
female    16
Name: count, dtype: int64

In [ ]:
df["class"].value_counts()

class
Seven    10
Four      8
Six       7
Three     3
Nine      2
Five      2
Fifth     1
Eight     1
Name: count, dtype: int64